# https://www.kernel.org/pub/software/scm/git/docs/git-config.html

[attr]txt text eol=lf whitespace=blank-at-eol,blank-at-eof,-indent-with-non-tab,space-before-tab,tab-in-indent,-cr-at-eol,tabwidth=4

[attr]bin -text diff

* text=auto eol=lf

*.php  txt
*.css  txt
*.js   txt
*.json txt
*.lock txt
*.txt  txt
*.md   txt

*.gif  bin
*.png  bin
*.jpg  bin
*.gz   bin
*.ico  bin
*.phar bin
